html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    max-width: 100%;
    position: relative;
    margin-right: 0;
    padding-left: 0;
}
#map {
    bottom: 0px;
    height: 100%;
    max-width: 100%;
    left: 0px;
    position: relative;
    right: 0px;
    overflow: hidden;
}
#pano {
    width: 200px;
    height: 200px;
}
.text {
    font-size: 12px;
}
.menu-title {
    color: #fbc9bb;
    margin-left: 10px;
    font-size: 25px;
}
#main {
    margin-right: 0px;
}
input {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    font-size: 12px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}
a {
    padding: 8px 8px 8px 4px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}